:root {
  /* Colors */
  --color-primary: #386641;
  --color-secondary: #a3b18a;
  --color-prime--light: #a7c957;
  --color-secondary--light: #6a994e;
  --color-secondary--dark: #327469;
  --color-white: #f2e8cf;
  --color-bg: #3a5a40;

  /* Sizing */
  --container: 65em;
  --container--text: 40em;

  /* Standardization */
  --transition: 0.2s;
  --shadow: 0 0.25rem 0.75rem #0004;
  --shadow--large: 0 0.5rem 1.5rem #0004;
  --radius: 0.5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
  /* put new chosen font here */
  font-family: "Yatra One", sans-serif;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol,
ul,
dl,
dd {
  margin: 0 0rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-white);
  color: white;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:not([class]):hover,
a:not([class]):focus-visible {
  color: #D96666;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Update default button cursor to indicate interactivity */
button {
  cursor: pointer;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 3rem;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.article-container {
  background-color: #fff;
}

.underline-style {
  text-decoration: underline var(--color-prime--light);
}

.article .p-link {
    color: var(--color-secondary--light);
  
    &:where(:hover, :focus-visible) {
      text-decoration: underline;
    }
}

.alt-color .p-link {
  color: var(--color-prime--light);
}

.outside-link {
  color: var(--color-prime--light);

  &:where(:hover, :focus-visible) {
    text-decoration: underline;
  }
}

.article {
  padding-block: 0.5rem;
  color: black;
}

.alt-color {
  background-color: var(--color-bg);
  padding-top: 0.75rem;
  color: #fff;
}

.top-article {
  padding-block: 1rem;
  background-color: #fff;
  color: black;
}

.top-article p,
.article p {
  padding-bottom: 0.5rem;
}

.important-box {
  background-color: var(--color-secondary--dark);
}

.content__container {
  width: 100vw;
  
}

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-inline: 1.5rem;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
}

@media (min-width: 45rem) {
  h1 {
      font-size: 2.2rem;
  }

  h2 {
      font-size: 1.8rem;
  }

  h3 {
      font-size: 1.6rem;
  }

  h4 {
      font-size: 1.31rem;
  }

  h5 {
      font-size: 1.16rem;
  }
}

@media (min-width: 60rem) {
  h1 {
      font-size: 2.488rem;
  }

  h2 {
      font-size: 2.074rem;
  }

  h3 {
      font-size: 1.728rem;
  }

  h4 {
      font-size: 1.44rem;
  }

  h5 {
      font-size: 1.2rem;
  }
}

/* Navbar */

.navbar {
  background-color: var(--color-primary);
  color: #fff;
  border-top: 0.25rem solid var(--color-secondary);

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0;
    align-items: center;
    padding-block-start: 1.5rem;

    @media only screen and (min-width: 45rem) {
      flex-direction: row;
      justify-content: space-between;
      padding-block-start: 0;
      padding-inline: 1.5rem;
    }
  }
}
.navbar__headline {
  font-size: 1.424rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
  display: block;
}

.navbar__title {
  &:where(:hover, :focus-visible) {
    color: var(--color-secondary);
  }
}

.navbar__logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__title {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.navbar__icon {
  width: 10rem;
}

.navbar__nav {
  width: 100%;
  @media only screen and (min-width: 45em) {
    width: auto;
  }
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media only screen and (min-width: 45em) {
    display: flex;
  }
}

.navbar__link {
  color: #fff;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  text-decoration: none;
  display: block;
  text-align: center;

  &:where(:hover, :focus-visible) {
  background-color: var(--color-secondary);
  }

  @media only screen and (min-width: 45em) {
      padding-block: 1.5rem;
    }
}

/* Footer */

.footer {
  background-color: var(--color-primary);
  color: #fff;
  border-bottom: 0.5rem solid var(--color-secondary);
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (min-width: 45em) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.footer__logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--color-secondary);
}

.footer__icon {
  width: 10rem;
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--color-secondary);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-white);
}

.footer__legal {
  margin: 0;
  padding-top: 1rem;
  padding-inline: 0;
  list-style-type: none;
  color: #fff;
}

.footer__legal-link {
  color: #fff;
}

.footer__legal-link:hover,
.footer__legal-link:focus {
  color: var(--color-white);
}

.footer__copyright {
  display: flex;
  justify-content: flex-start;

  @media only screen and (min-width: 45em) {
    justify-content: flex-end;
  }
}

.footer__logo {
  align-items: flex-start;
}

@media only screen and (min-width: 45rem) {
  
  .footer .container {
      flex-direction: row;
      justify-content: space-between;
  }

  .footer__logo {
      flex: 2 0;
      align-items: center;
  }

  .footer__nav,
  .footer__copyright {
      flex: 1 0;
  }
}

/* Buttons */

section {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--color-prime--light);
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  padding-inline: 1.5em;
  border-radius: 0.25em;
  border: 0.125rem solid var(--color-prime--light);
  line-height: 1.5;
  padding: 0.55em 1.5em 0.5em;
  cursor: pointer;

  &:where(:hover, :focus-visible) {
      background-color: var(--color-secondary--light);
      border-color: var(--color-secondary--light);
  }
}

.btn--secondary {
  color: #fff;
  border-color: var(--color-prime--light);
  background-color: var(--color-prime--light);

  &:where(:hover, :focus-visible) {
    border-color: var(--color-secondary--light);
    background-color: var(--color-secondary--light);
  }
}

/* Banner */

.banner {
  background-image: 
    linear-gradient(to bottom, #0009, transparent),
    url('../images/hero-banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner .container,
.blog__banner .container {
  min-height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blog__banner {
  background-image: 
    linear-gradient(to bottom, #0009, transparent),
    url('../images/blog-image-adventurers.jpg');
  background-position: center;
  background-size: cover;
}

.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--color-prime--light);
}

.banner__text {
  font-size: 1.15rem;
}

.pad-bottom {
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 45em) {

  .banner__title {
    font-size: 2.069rem;
  }

  .banner__text,
  .btn--large {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {

  .banner__title {
    font-size: 2.444rem;
  }

  .banner__text,
  .btn--large {
    font-size: 1.25rem;
  }
}

/* Card Styles */

.card-background {
  background-color: var(--color-primary--light);
}

.card-group {
  padding-inline: 1.5rem;
  padding-block: 3rem;
  width: min(65em, 100%);
  margin-inline: auto;
}

.card__container {
  grid-template-columns: 1fr;
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 45em) {
  
  .card__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) {
  
  .card__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Card Styles */

.card {
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: translateY(-0.75rem);
}

.card__image img {
  object-fit: cover;
  display: flex;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary);
  padding: 1.5rem;
}

.card-content__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content__container:hover {
  box-shadow: var(--shadow--large);
}

.card__title {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.blog__title {
  font-size: 1.25rem;
  color: var(--color-primary);
  text-align: left;
  flex-grow: 1;
}

.author {
  text-align: left;
}

.card__content p {
  font-size: 1rem;
  color: black;
}

.recent {
  color: black;
  padding-bottom: 2rem;
}

/* Image Text Section */

.image-content .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;

  display: grid;
  gap: 3rem;
  align-items: center;
}

.image-content__image {
  aspect-ratio: 1 / 1;
  display: flex;
}

.image-content__image {
  object-fit: cover;
}

.image-content__title {
  font-size: 1.756rem;
  line-height: 1.3;
}

@media only screen and (min-width: 45em) {
  
  .image-content .container {
      grid-template-columns: 1fr 2fr;
  }

  .image-content__title {
      font-size: 2.069rem;
  }
}

@media only screen and (min-width: 60em) {
  
  .image-content .container {
      grid-template-columns: 1fr 1fr;
  }

  .image-content__title {
      font-size: 2.444rem;
  }
}